@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700);

/*-------------------------------------------------- 
/* body
/*-------------------------------------------------- */
body{
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:1.7em;
	color:#727272;
	background:#f5f5f5;
	margin:0;
	padding:0;
}

header{
	background:#fff;
}

#subheader{
	background: url(../img/bg-blur-1.jpg) center no-repeat; 
	padding:30px 0 30px 0;
	border-bottom:solid 1px #eee;
	z-index: 99;
	 background-size: 100%;

}
#subheader h1{
	letter-spacing:-2px;
	float:left;
	border-right:solid 1px #333;
	padding-right:40px;
	margin-right:40px;
	color: #fff;
}
#subheader span{
	display:inline-block;
	padding-top:20px;
	font-size:16px;
	color: #fff;
}





/*-------------------------------------------------- 
/* heading
/*-------------------------------------------------- */
h1,h2{font-weight:lighter;}
h3,h4,h5,h6{font-weight:500; color:#333;}
footer h3, footerh4, footerh5, footer h6{font-weight:500; color:#fff;}
h1.h1-style{
	letter-spacing:-2px;
	font-weight:lighter;
}
h3.title{
	font-size:20px;
	font-weight:600;
	border-bottom:solid 1px #ccc;
	padding-bottom:10px;
	margin-bottom:20px;
}
h2{
	font-size:42px;
	color:#ec6841;
	letter-spacing:-2px;
	line-height:inherit;
	margin-top:0;
}
h3.title-property{margin:0;}
h3{
	letter-spacing:-1px;
	margin-top:0;
}

.subheading{ display:block; margin-bottom:10px;}

a.btn-submit{
	display:block;
	width:70%;
	  padding: 10px 0;
}

a{
	color:#ec6841;
}
a:hover{
	color:#ec6841;;
}
h1{
	font-size: 31.5px !important;
}
/*-------------------------------------------------- 
/* logo
/*-------------------------------------------------- */
#logo{
	text-align:center;	
}
#logo .inner{
	margin:0;
	display:inline-block;
}


/*-------------------------------------------------- 
/* content
/*-------------------------------------------------- */
#content{
	padding:60px 0 60px 0;
	text-shadow: 1px 1px #fff;
}


.feature{
	text-align:center;
}
.feature i{
	display:inline-block;
	margin-bottom:20px;
	float:none;
	color:#555;
	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(00, 00, 00, .1);
	box-shadow: inset 1px 1px 1px 1px rgba(00, 00, 00, .1); 	
	border-radius:10px;
	text-align:center;
	padding:20px;
	background:#e4d1a3;
}

/*-------------------------------------------------- 
/* small-list property
/*-------------------------------------------------- */
.small-list{ background:#fff; height:128px; margin-bottom:20px;
-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.1);
-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.1);
box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.1);
}
.small-list img{position:absolute;}
.small-list h2{font-size:16px; margin:0; line-height:normal;}
.small-list .info{ padding:10px; padding-left:185px;}
.small-list .arrow{ float:right; margin-top:100px; background:url(../img/small-arrow-right.png) center no-repeat; width:30px; height:16px; display:block;}
.small-list .label{position:absolute; z-index:100; margin:10px 0 0 10px;}
.small-list span{display:block;}
.small-list .price{display:inline-block; font-size:16px; margin:2px 0 2px 0;}
.small-list:hover{background:#f2f2f2;}


/*-------------------------------------------------- 
/* booking
/*-------------------------------------------------- */
#booking{
	background:#271c13;
	padding:40px 0 40px 0;
}
#booking input{
	width:97%;
}


#booking span{ color:#fff; font-size:18px; padding-top:5px;}
#booking select{ border: solid 1px #fff;}
.span2 select{width:100%;}

.booking-form input{
	width:97%;
}

.booking-form select{
	width:102%;
}

.booking-form .span3{
	margin-bottom:10px;
}

.booking-form i{
	margin-right:8px;
	color:#6a4a3d;
}

.btn-book-submit{
	margin-top:30px;
}

/*-------------------------------------------------- 
/* room
/*-------------------------------------------------- */
.room-features{ margin:10px 0; padding:0; list-style:none;}
.room-features li{line-height:1.6em;}
.room-features li i{margin-right:15px; color:#6a4a3d;}

.list-features{margin-bottom:40px;}


.room-description{
	margin-bottom:20px;
}

.btn-book-container{
	position:relative;
	width:auto;
	text-align:right;
}
.btn-book{
	position:absolute;
	color:#fff;
	
	background:#ec6841;
	text-shadow:none;
	background: rgb(249,198,103); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,198,103,1)), color-stop(100%,rgba(247,150,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */

	width:50px;
	height:50px;
	padding:20px 10px 0px 10px;
	text-align:center;
	line-height:1.2em;
	text-transform:uppercase;
	margin-top:-17px;
	right:-17px;
	z-index:100;
	text-shadow:none;
	border-radius:60px; -moz-border-radius:60px; -webkit-border-radius:60px;
	border:solid 6px #f5f5f5;
	text-decoration:none;
}
.btn-book:hover{
	background:#d35c3a;
	color:#fff;
	text-decoration:none;
}
.price{
	font-weight:600;
	font-size:24px;
}
.price-info {
	text-shadow:none;
	display:inline-block;
	background:#fff;
	border:solid 1px #ddd;
	padding:5px 10px 0px 10px;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.2);
	box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.2);

}

.room-list{
}
.room-list .room{
	margin-bottom:60px;
}

.btn-primary{
	background:#ec6841;
	text-shadow:none;
	background: rgb(249,198,103); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,198,103,1)), color-stop(100%,rgba(247,150,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */
}
.btn-primary:hover{
	background:#d35c3a;
}

/*-------------------------------------------------- 
/* menu, navigation
/*-------------------------------------------------- */

#mainmenu-container{
	/*background:#f9f3e9;*/
	border-top:solid 1px #eee;
	text-align:center;
	width:100%;
	height:70px;
}
#mainmenu {
  color:#333;
  font-weight:400;
  font-size:13px;
  letter-spacing:0px;
  display:inline-block;
  text-align:left;
  text-transform:uppercase;
  letter-spacing:2px;
  
}

#mainmenu ul {
  float:right;
  margin:0px 0px;
  padding:0px 0px;
  height:30px;
}

#mainmenu li {
  margin:0px 0px;
  padding:0px 0px;
  float:left;
  display:inline;
  list-style:none;
  position:relative;
}

#mainmenu a {
  display:block;
  padding:26px 17px 24px 17px;
  text-decoration:none;
  color:#555555;
}

#mainmenu a:hover{
	color:#fff;
}

#mainmenu li li {
	font-size:14px;
}

#mainmenu li li a{
	padding:10px 15px 10px 15px;
	background:#332015;
	border-top:none;
	text-transform:none;
	letter-spacing:normal;
}

#mainmenu li li a:hover, #mainmenu a.active{
	border-top:none;
}

#mainmenu li li a:hover, #mainmenu a.active {
	color:#fff;
 	background:#332015;
}

#mainmenu li ul {
  width:170px;
  height:auto;
  position:absolute;
  top:100%;
  left:0px;
  z-index:10;
  display:none;
}

#mainmenu li li {
  display:block;
  float:none;
}

#mainmenu li:hover > ul {
  display:block;
}

#mainmenu li ul ul {
  left:100%;
  top:0px;
}

#mainmenu li:hover a {
	color:#fff;
	background:#271c13;
}

#mainmenu select {padding:10px; height:36px; font-size:14px; border:none; background:#ff4200; color:#fff;}
#mainmenu select option{padding:10px;}

.selectnav{display:none;}

/*-------------------------------------------------- 
/* footer
/*-------------------------------------------------- */
footer{
	background:#271c13;
	color:#fff;
	padding:20px 0 20px 0;
}
footer a{
	color:#fff;
}
footer h3{font-size:20px;}


/*-------------------------------------------------- 
/* subfooter
/*-------------------------------------------------- */
.subfooter{
	margin:40px 0 -20px 0;
	background:#332015;
	padding:20px 0 20px 0;
}
.subfooter ul{
	margin:0;
	padding:0;
	float:right;
}
.subfooter li{
	display:inline;
	padding:0 10px 0 0;
	
}
.subfooter a{color:#fff;}

/*-------------------------------------------------- 
/* list news
/*-------------------------------------------------- */
.list-news{padding:0; margin:0;}
.list-news img{position:absolute;}
.list-news .text{ padding-left:70px;}
.list-news li{list-style:none; min-height:60px; margin-bottom:20px;}
 .list-news li h5{margin-bottom:0; font-weight:600;}
/*-------------------------------------------------- 
/* toTop
/*-------------------------------------------------- */
#toTop { z-index:1555; display:none;text-decoration:none;position:fixed;bottom:10px;right:10px;overflow:hidden;width:51px;height:51px;border:none;text-indent:-999px;	background:url(../img/ui.totop.png) no-repeat left top;}
#toTopHover {background:url(../img/ui.totop.png) no-repeat left -51px;width:51px;height:51px;display:block;overflow:hidden;float:left;}
#toTop:active, #toTop:focus {outline:none;}


/*-------------------------------------------------- 
/* twitter
/*-------------------------------------------------- */
#twitter {margin:0; padding:0;}
#twitter li{ list-style:none; padding-left:50px; background:url(../img/twitter-bird.png) top left no-repeat; padding-bottom:10px; min-height:60px;}
#twitter a{color:#fff; text-decoration:underline;}


/*-------------------------------------------------- 
/* agent-details
/*-------------------------------------------------- */
.agent-details h5{ font-weight:bold; margin-bottom:0;}
.agent-details{padding:10px; background:#eee; min-height:100px;}
.agent-details img{position:absolute;}
.agent-details .info{ padding-left:120px;}
.agent-details span{ display:block;}


/*-------------------------------------------------- 
/* widget
/*-------------------------------------------------- */
.widget{margin-bottom:40px; border-bottom:solid 1px #ddd; padding-bottom:40px;}
.widget h4.title{ padding-bottom:10px;}
.widget ul{list-style:none; margin:0;}
.widget_category li { margin-bottom:5px;}
.widget_category li i{margin-right:10px;}
.widget_recent_post li { padding-left:20px; background:url(../images/list-arrow.png) left 2px no-repeat; border-bottom:solid 1px #ddd; padding-bottom:7px; margin-bottom:5px;}
.widget_recent_post li a{color:#555;}
.widget .comments li { padding-left:20px; background:url(../images/list-arrow.png) left 2px no-repeat; border-bottom:solid 1px #ddd; padding-bottom:7px; margin-bottom:5px;}
.widget_tags li{display:inline-block; margin-right:0px; margin-bottom:11px;}
.widget_tags li a{ text-decoration:none; border:solid 1px #ccc; text-shadow:none; border-radius:2px; margin-bottom:5px; -moz-border-radius:2px; -webkit-border-radius:2px; background:#fff; padding:5px 10px 5px 10px;}
.widget_tags li a:hover{background:#d35c3a; color:#fff; }

/*-------------------------------------------------- 
/* map
/*-------------------------------------------------- */
.map{margin-top:40px;}
.map iframe{width:100%; height:320px; border:solid 1px #ccc; padding:2px; background:#fff;}

#map-container iframe{width:100%; height:360px;}


/*-------------------------------------------------- 
/* label
/*-------------------------------------------------- */
.label{text-shadow:none;}
.rent{ background:#F90; color:#fff; padding:5px 10px 5px 10px;}
.sale{ background:#33CC00; color:#fff; padding:5px 10px 5px 10px;}
.text-label{ display:block; margin-bottom:10px;}


blockquote {
  background: #f9f9f9;
  margin: 1.5em 10px;
  padding: 30px;
  font-family:Georgia, "Times New Roman", Times, serif;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
    content: "\201C";

}
blockquote p {
  display inline;
}
blockquote span{
	font-family:"Open Sans", Arial;
	display:block;
	margin-top:10px;
}

/*-------------------------------------------------- 
/* related-property
/*-------------------------------------------------- */
.related-property{margin-top:40px; padding-top:40px; border-top:solid 1px #ccc;}


/*-------------------------------------------------- 
/* blog */
/*-------------------------------------------------- */
.blog-list{ margin-top:-10px; margin:0; padding:0;}
.blog-list li{margin-bottom:20px; list-style:none;  background:url(../images/dotwhite50.png);  line-height:1.7em; padding-bottom:40px;}
.blog-header .by{display:inline-block; float:left;  background:url(../images/icon-user.png) left center no-repeat; padding-left:24px;}
.blog-header .cat{ display:inline-block; float:left; background:url(../images/icon-folder.png) left center no-repeat; padding-left:24px;}
.blog-header .news-date{ display:inline-block; float:left; background:url(../images/icon-folder.png) left center no-repeat; padding-left:24px;}
/* blog list */
.blog-list li{margin-bottom:40px;}
.blog-list .info{position:absolute; width:60px; }
.blog-list .date{ text-shadow:none;text-shadow:none; text-align:center; padding:10px 0 10px 0;}
.blog-list .date h4{font-size:40px;}
.blog-list .date span{letter-spacing:8px; padding-left:5px;}
.blog-list a.readmore{ display:block; width:60px; height:40px; background:url(../images/arrow-2.png) right center no-repeat #555;}
.blog-list a.readmore:hover{ background:url(../images/arrow-2.png) left center no-repeat #E1704B;}
.blog-list .preview{padding-left:80px; line-height:1.6em;}
.blog-list .meta-info{margin:10px 0 0 80px; font-size:13px; padding:5px 0 5px 0; border-top:dotted 1px #ccc; border-bottom:dotted 1px #ccc;}
.blog-list .meta-info span{ padding:0 10px 0 10px; color:#ccc;}
.blog-list .preview img{padding-bottom:10px; width:100%;}
.blog-list .callbacks_container{margin-bottom:-35px;}

/*-------------------------------------------------- 
/* blog single */
/*-------------------------------------------------- */
.blog-read{ margin-top:-10px; margin:0; padding:0;}
.blog-read{margin-bottom:20px; list-style:none;  background:url(../images/dotwhite50.png);  line-height:1.7em; padding-bottom:40px;}
.blog-header .by{display:inline-block; float:left;  background:url(../images/icon-user.png) left center no-repeat; padding-left:24px;}
.blog-header .cat{ display:inline-block; float:left; background:url(../images/icon-folder.png) left center no-repeat; padding-left:24px;}
.blog-header .news-date{ display:inline-block; float:left; background:url(../images/icon-folder.png) left center no-repeat; padding-left:24px;}
/* blog list */
.blog-read {margin-bottom:40px;}
.blog-read .info{position:absolute; width:60px; }
.blog-read .date{ text-shadow:none;text-shadow:none; text-align:center; padding:10px 0 10px 0;}
.blog-read .date h4{font-size:40px;}
.blog-read .date span{letter-spacing:8px; padding-left:5px;}
.blog-read a.readmore{ display:block; width:60px; height:40px; background:url(../images/arrow-2.png) right center no-repeat #555;}
.blog-read a.readmore:hover{ background:url(../images/arrow-2.png) left center no-repeat #E1704B;}
.blog-read .preview{padding-left:80px; line-height:1.6em;}
.blog-read .meta-info{margin:10px 0 0 80px; font-size:13px; padding:5px 0 5px 0; border-top:dotted 1px #ddd; border-bottom:dotted 1px #ddd;}
.blog-read .meta-info span{ padding:0 10px 0 10px; color:#ccc;}
.blog-read .preview img{padding-bottom:10px; width:100%;}
.blog-read .callbacks_container{margin-bottom:-35px;}



/* blog comment */
#blog-comment{ margin-left:70px;}
#blog-comment h5{margin-bottom:10px;}
#blog-comment ul, #blog-comment li{list-style:none; margin-left:-30px; padding-left:0;}
#blog-comment li{min-height:70px; padding-bottom:10px; margin-bottom:10px; padding-bottom:20px; border-bottom: solid 1px #eee;}
#blog-comment li .avatar{position:absolute; margin-top:5px; width:60px; height:60px;}
#blog-comment .comment{ margin-left:85px; }
#blog-comment li{min-height:70px; font-size:14px; line-height:1.6em; }
#blog-comment li li{ margin-left:55px; padding-bottom:0px; margin-top:20px; padding-top:10px; border-top: solid 1px #eee; border-bottom:none;}
#blog-comment li li .avatar{position:absolute; }
#blog-comment li li .comment{ }
.comment-info {margin-left:85px; margin-bottom:5px;}
.comment-info span{}
.comment-info .c_name{ display:block; font-weight:700; color:#555;}
.comment-info .c_reply{  padding-left:20px; margin-left:20px; border-left:solid 1px #ddd; font-size:12px;}
.comment-info .c_date{  font-size:12px;}

/* comment form */
#commentform label{ display:block;}
#commentform input{width:290px;}
#commentform input:focus{border:solid 1px #999; background:#fff;}
#commentform textarea{width:97%; padding:5px; height:150px;}
#commentform textarea:focus{border:solid 1px #999; background:#fff;}
#commentform input.btn{ width:auto;}

#slider{
	text-align:center;
	height:100%;
}
#slider img{
}
.slider-info{
	width:100%;
	height:100%;
	position:absolute;  
	z-index:10;
}
.callbacks_nav.prev{ left:0;}
.callbacks_nav.next{ right:0;}
.slider-info h1{background:#fff; display:inline-block; padding:10px 20px 10px 20px; letter-spacing:-2px; position:relative; top:40%;}
.slider-info .text1{background:#333; color:#fff; padding:10px 20px 10px 20px; font-size:14px;}

/*-------------------------------------------------- 
/* contact */
/*-------------------------------------------------- */
.error { width:280px; background:#FCD8DC; padding:2px 10px 2px 10px; display: none;color:#C03; font-size:12px;}
.success { display: none; padding:2px 10px 2px 10px; background:#E5EAD4; color:#555; width:280px;  font-size:12px;}
.error img { vertical-align:top; }
.full{ width:98%;}

.page-not-found { display:block; padding:100px 0 100px 0; text-align:center; font-size:20px;}
.page-not-found h1{ font-size:160px; margin-bottom:60px; font-weight:bold; color:#ccc;}

.blue{ background:#3bb6df; padding:15px;}
.red{ background:#F36; padding:15px;}
.orange{ background:#F90; padding:15px;}
.green{ background:#3C0; padding:15px;}

#gallery .item{
	text-align:center;
	margin-bottom:30px;
	background:#f5f5f5;
	padding-bottom:15px;
	font-size:12px;
}
#gallery .item h4{
	font-size:16px;
	margin-bottom:0;
}

/* -------------------------------------------------- 
	isotope
/* -------------------------------------------------- */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#filters{padding:0; margin:0; margin-bottom:20px;}
#filters li{display:inline-block; margin-right:3px;  margin-bottom:20px; }
#filters a{color:#fff; padding:5px 10px 5px 10px; color:#555; border:solid 1px #ddd; text-decoration:none;}
#filters a:hover{ border:solid 1px #96C277;}
#filters a.selected{ background:#96C277; border:solid 1px #96C277; color:#FFF;}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

#flickr-photo-stream img{ width:50px; height:auto; margin:0 12px 12px 0; float:left;}
#flickr-photo-stream a img {border:solid 3px #fff;}
#flickr-photo-stream a:hover img {border:solid 3px #96C277;}

#call-to-action{
	background:url(../img/bg-blur-2.jpg) bottom center;
	padding:40px 0 40px 0;
}
.call-to-action{
	padding:20px 0 15px 0;
}
.call-to-action h3{margin-top:0;}

.social-icons img{margin:0 5px 5px 0;}
footer .social-icons img{margin:0 0;}


hr{
	border:none;
	height:80px;
	background:url(../img/divider-1.png) center no-repeat;
}

.test-column{
	background: rgb(249,198,103); /* Old browsers */
	color:#fff;
	text-align:center;
	padding:20px 0 20px 0;
	margin-bottom:30px;
}



address span{
    display:block;
}
address span strong{
    display:inline-block;
    width:60px;
}


@media (max-width: 767px) {
	#logo{margin:0 auto; width:100%; text-align:center;}
	#logo .inner{ display:block; width:100%; height:auto; margin:20px 0 20px 0;}
	#slider{background:none; padding:0;}
  	#booking input,#booking select{width:100%; margin-bottom:10px;}
	#mainmenu{display:none;}
	.selectnav{display:block; margin:0 auto; margin-top:40px; margin-bottom:20px; width:100%}
	#featured .item{width:270px; margin:0 auto; margin-bottom:20px;}
	#featured{background-position:top;}
	
	header,#content,footer,#subheader,#booking{padding-left:20px; padding-right:20px;}
	header,#mainmenu-container{background:none; border:none;}
	#subheader h1{ border:none; margin-bottom:0px;}
	.subfooter{background:none;}
	.subfooter ul{ float:left;}
	.slider-info h1{font-size:20px; letter-spacing:normal; top:30%}
	#booking input{
	width:97%;
	}
	#booking select{
		width:100%;
	}
	a.btn-submit{
		width:95%;
	}

}


img.right-column{
	margin-bottom: 20px;
}

div.span8 h1{
	text-align: center;
}